body {
    background: #FFFAF0;
    color: #696969;
}

.col {
    background-color: white;
}

.dropdown {
  left: 25%;
}

.center {
    text-align: center;
}

.ip {
    margin: -1px;
    background-color: white;
}

