body {
    background: #FFFAF0;
    color: #696969;
}

.b1 {
        background: #16A9A0;
        }

.col {
    background-color: white;
}

.term_window {
    width: 500px; /* Ширина слоя */
    margin: 10px; /* Значение отступов */
    padding: 10px; /* Поля вокруг текста */
}

.dropdown {
  left: 25%;
}

.center {
    text-align: center;
}

.ip {
    margin: -1px;
    background-color: white;
}




.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
}

.toast {
    position: absolute;
    top: 30px;
    right: 100px;
}