body {
    background: #FFFAF0;
    color: #696969;
}
.col {
    background-color: white;
}
.dropdown {
  left: 25%;
}
.center {
    text-align: center;
}
.client-table {
    margin: -2px;
    background-color: white;
}
