{% extends 'search_base.html' %}
@import "../node_modules/bootstrap/scss/bootstrap";

{% block title %}
{{ client_name.upper() }}
{% endblock %}

{% block body %}

{% if toast_alert != ' ' %}
    <div id="toastNotice" class="toast align-items-center text-white bg-success border-0" style="z-index: 11" role="alert" aria-live="assertive" aria-atomic="true" data-delay=3000>
      <div class="d-flex">
        <div class="toast-body">
          {{ toast_alert }}
        </div>
      </div>
    </div>
{% endif %}


<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>

<script>
  {
    var myAlert =document.getElementById('toastNotice');//select id of toast
      var bsAlert = new bootstrap.Toast(myAlert);//inizialize it
      bsAlert.show();//show it
  }
</script>

<script>
    function show_spinner(spinner_id, btn_id) {
        document.getElementById(spinner_id).classList.remove('d-none');
        document.getElementById(btn_id).classList.add('disabled');
    }
</script>

<script>
    function openCity(evt, cityName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>

<script>
function copy(text) {
    var input = document.createElement('input');
    input.setAttribute('value', text);
    document.body.appendChild(input);
    input.select();
    var result = document.execCommand('copy');
    document.body.removeChild(input)
    alert('Это Huawei, его IP скопирован в буфер обмена.');
    return result;
 }
</script>

<br>
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <ul class="nav col-12 col-md-auto mb-3 justify-content-center mb-md-0">
        <a class="btn btn-outline-secondary" href="/">NBI-Navigator</a>
      </ul>
      <div class="col-10">
          <form action="/" method="post">
              <div class="input-group">
                <input type="text" name="client" class="form-control" value="{{ request.form['client'] }}" placeholder="Введите Имя клиента или Ip адрес или №договора" aria-label="Имя клиента" aria-describedby="button-addon2">
                <input type="submit" class="btn btn-outline-primary" value="Найти">
              </div>
          </form>
      </div>
    </header>
</div>
<br>
<div class="container">
<table class="table table-bordered client-table border border-2 ip">
    <tbody>
        <tr>
            <th scope="row" class="align-middle center"><h5>{{ client_name.upper() }} | <a class="btn btn-outline-primary btn-sm" target="_blank" href="{{ client_url }}">Netsore</a></h5></th>
        </tr>
    </tbody>
</table>
<table class="table table-bordered client-table border border-2 ip">
        <tbody>
            <tr>
              <th scope="row" class="center">Телефон: </th>
              <td class="center">{{ client_tel }}</td>
            </tr>
            <tr>
              <th scope="row" class="center">E-mail: </th>
              <td scope="row" class="center">
                  <div class="container email_block">
                      <div class="email row row-cols-auto">
                            {{ client_email }}
                              <form action="/client/{{ client_name }}" method="post">
                                  <button type="submit" class="btn btn-outline-secondary btn-sm is_active_btn" id="send_bill_btn" name="client_page" onclick="show_spinner('send_bill_spinner', 'send_bill_btn')" value="@@@{{ client_url }}">Выслать счёт<div class="spinner-border text-secondary spinner-border-sm d-none" role="status" id="send_bill_spinner"></div></button>
                              </form>
                      </div>
                  </div>
              </td>
            </tr>
            <tr>
                <th scope="row" class="center align-self-center">Состояние: </th>
                {% if client_is_active == "Активний" %}
                    <td class="center">
                        <div class="row">
                            {% if client_debt != "False" %}
                                <div class="alert align-self-center alert-warning is_active_alert" role="alert">
                                    {{ client_debt }}
                                </div>
                            {% else %}
                                <div class="alert align-self-center alert-success is_active" role="alert">
                                    <font color="green">Активный</font>
                                </div>
                            {% endif %}
                        </div>
                    </td>
                {% elif client_is_active == "Выбывший" %}
                    <td class="center">
                        <div class="row">
                            <div class="alert align-self-center alert-dark is_active" role="alert">
                                Выбывший
                            </div>
                        </div>
                    </td>
                {% else %}
                    <td scope="row" class="center">
                        <div class="container email_block">
                            <div class="email row row-cols-auto">
                                <div class="alert align-self-center alert-danger is_active" role="alert">
                                    {{ client_is_active }}
                                </div>
                                <form action="/client/{{ client_name }}" method="post">
                                    <button type="submit" class="btn btn-success is_active_btn" id="turn_on_btn" name="client_page" onclick="show_spinner('client_turn_on_spinner', 'turn_on_btn')" value="==={{ client_name }}+{{ client_url }}">Включить<div class="spinner-border text-secondary spinner-border-sm d-none" role="status" id="client_turn_on_spinner"></div></button>
                                </form>
                                {% if client_debt != "False" %}
                                    <div class="alert align-self-center alert-danger is_active_alert" role="alert">
                                        <font color="red">{{ client_debt }}</font>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </td>
                {% endif %}
            </tr>
            <tr>
                <th scope="row" class="center">Конвертор: </th>
                <td class="center">{{ client_converter }}</td>
            </tr>
            <tr>
              <th scope="row" class="center">Менеджер: </th>
              <td class="center">{{ client_manager }}</td>
            </tr>
        </tbody>
</table>
<br>
{% for ip in client_connection_data %}
    {% if client_connection_data[ip][15] == True %}
        <button class="tab btn btn-outline-success btn-lg tablinks"  onclick="openCity(event, '{{ ip }}')">{{ ip }}</button>
    {% else %}
        <button class="tab btn btn-outline-danger btn-lg tablinks" onclick="openCity(event, '{{ ip }}')">{{ ip }}</button>
    {% endif %}
{% endfor %}
<br>
{% for ip in client_connection_data %}
  <div id="{{ ip }}" class="tabcontent">
    <table class="table table-bordered client-table border border-2 ip">
        <tbody>
            <tr>
              <td class="align-middle center col-3">
                  Шлюз: {{ client_connection_data[ip][3] }}
                  <br>
                  M: {{ client_connection_data[ip][4] }}
              </td>
                <td class="align-middle center col-5">
                    {% if client_connection_data[ip][6] == 'None'  %}
                        <a class="btn btn-outline-secondary disabled">График подключения в кактусе</a>
                    {% else %}
                        <a class="btn btn-outline-secondary" href="{{ client_connection_data[ip][6] }}">График подключения в кактусе</a>
                    {% endif %}
                </td>
                <td class="align-middle center col-4">
                    {% if client_connection_data[ip][7] == 'None'  %}
                        <a class="btn btn-outline-secondary disabled">График аплинка в кактусе</a>
                    {% else %}
                        <a class="btn btn-outline-secondary" href="{{ client_connection_data[ip][7] }}">График аплинка в кактусе</a>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered client-table border border-2 ip">
        <tbody>
            <tr>
              <th scope="row" class="align-middle center col-2">Порт:</th>
                  {% if client_connection_data[ip][8] == 'up' %}
                    <td class="align-middle center col-3"><font color="green">{{ client_connection_data[ip][8].upper() }}</font> {{ client_connection_data[ip][14] }}</td>
                  {% else %}
                    <td class="align-middle center col-3"><font color="red">{{ client_connection_data[ip][8].upper() }}</font> {{ client_connection_data[ip][14] }}</td>
                  {% endif %}

              {% if client_connection_data[ip][16] == True %}
                    {% if client_connection_data[ip][5] == "huawei" %}
                        <td class="align-middle center col-4 align-self-center">
                            <button class="align-middle center btn btn-outline-success btn-sm" onclick="copy('telnet {{ client_connection_data[ip][1] }}')">
                                {{ client_connection_data[ip][0] }}{{ client_connection_data[ip][2] }}
                            </button>
                        </td>
                    {% else %}
                        <td class="align-middle center col-4 align-self-center">
                            <a class="align-middle center btn btn-outline-success btn-sm" target="_blank" href="http://{{ client_connection_data[ip][1] }}">{{ client_connection_data[ip][0] }}{{ client_connection_data[ip][2] }}</a>
                        </td>
                    {% endif %}
              {% else %}
                <td class="align-middle center col-4 align-self-center">
                    <a class="align-middle center btn btn-outline-danger btn-sm disabled" role="button" aria-disabled="true">
                        {{ client_connection_data[ip][0] }}{{ client_connection_data[ip][2] }}</a>
                </td>
              {% endif %}

              {% if client_connection_data[ip][11] == '0' %}
                <td class="align-middle center col-1">Err <font color="green">{{ client_connection_data[ip][11] }}</font></td>
              {% else %}
                <td class="align-middle center col-1">Err <font color="red">{{ client_connection_data[ip][11] }}</font></td>
              {% endif %}

              <div class="align-middle center col-2">
                  <form action="/client/{{ client_name }}" method="post">
                    {% if client_connection_data[ip][8] == 'up' %}
                      <td class="align-middle center col-2"><button type="submit" class="btn btn-warning form-control" id="reboot_btn_{{ ip }}" name="client_page" onclick="show_spinner('portreboot_spinner_{{ ip }}', 'reboot_btn_{{ ip }}')" value="***{{ client_connection_data[ip][1] }}+{{ client_connection_data[ip][2] }}+{{ client_connection_data[ip][5] }}+{{ client_name }}">Дёрнуть порт<div class="spinner-border text-secondary spinner-border-sm d-none" role="status" id="portreboot_spinner_{{ ip }}"></div></button></td>
                    {% else %}
                      <td class="align-middle center col-2"><button type="submit" class="btn btn-warning form-control disabled">Дёрнуть порт</button>
                    {% endif %}
                  </form>
              </div>

            </tr>
        </tbody>
    </table>

    <table class="table table-bordered client-table border border-2 ip">
        <tbody>
            <tr>
              <th scope="row" class="align-middle center col-2">MAC на порту:</th>

              <td class="center col-4">
                  Прописан:
                  {% for mac_on in client_connection_data[ip][9] %}
                    <br>
                    <font color="green">{{ mac_on }}</font>
                  {% endfor %}
              </td>
              <td class="center col-4">
                Приходит:
                  {% for mac_in in client_connection_data[ip][10] %}
                    <br>
                    {% if mac_in[1] == 'green' %}
                      <font color="green">{{ mac_in[0] }}</font>
                    {% else %}
                      <font color="red">{{ mac_in[0] }}</font>
                    {% endif %}
                  {% endfor %}
              </td>
                  {% if client_connection_data[ip][12] == False %}
                      <td class="align-middle center col-2"><button type="submit" class="btn btn-warning form-control disabled">Прописать</button></td>
                  {% else %}
                      <form action="/client/{{ client_name }}" method="post">
                          <td class="align-middle center col-2"><button type="submit" class="btn btn-warning form-control" id="write_mac_btn_{{ ip }}" onclick="show_spinner('write_mac_spinner_{{ ip }}', 'write_mac_btn_{{ ip }}')" name="client_page" value="+++{{ client_connection_data[ip][9] }}+{{ client_connection_data[ip][10] }}+{{ client_connection_data[ip][1] }}+{{ client_connection_data[ip][2] }}+{{ client_connection_data[ip][5] }}+{{ ip }}+{{ client_name }}+{{ client_connection_data[ip][13] }}">Прописать<div class="spinner-border text-secondary spinner-border-sm d-none" role="status" id="write_mac_spinner_{{ ip }}"></div></button></td>
                      </form>
                  {% endif %}
              </td>
            </tr>
        </tbody>
    </table>
  </div>
{% endfor %}
<br>
<div class="row">
    <div class="accordion col-6" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Нотатки клиента
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
              {% for string in client_notes %}
                  {{ string }}
                  <br>
              {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="accordion col-6" id="accordionExample1">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne1">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
              Нотатки бизнес-центра
          </button>
        </h2>
        <div id="collapseOne1" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample1">
          <div class="accordion-body">
              {% for string in client_address_notes %}
                  {{ string }}
                  <br>
              {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
{% endblock %}