{% extends 'search_base.html' %}

{% block title %}
NBI-Navigator
{% endblock %}

{% block body %}
<br>
<table class="table table-bordered client-table border border-2">
    <tbody>
        <tr>
            <th scope="row" class="center"><h5>{{ client_name.upper() }} | <a href="{{ client_url }}">Netsore</a></h5></th>
        </tr>
    </tbody>
</table>
<table class="table table-bordered client-table border border-2">
        <tbody>
            <tr>
              <th scope="row" class="center">Телефон: </th>
              <td class="center">{{ client_tel }}</td>
            </tr>
            <tr>
              <th scope="row" class="center">E-mail: </th>
              <td class="center">{{ client_email }}</td>
            </tr>
            <tr>
                <th scope="row" class="center">Состояние: </th>
                {% if client_is_active == "Активний" %}
                    <td class="center"><font color="green"> {{ client_is_active }} </font></td>
                {% else %}
                    <td class="center"><font color="red"> {{ client_is_active }} </font></td>
                {% endif %}
            </tr>
            <tr>
                <th scope="row" class="center">Конвертор: </th>
                <td class="center">{{ client_converter }}</td>
            </tr>
            <tr>
              <th scope="row" class="center">Менеджер: </th>
              <td class="center">{{ client_manager }}</td>
            </tr>
        </tbody>
</table>
<br>
{% for ip in client_connection_data%}
    <div class="col-3">
        {% if client_connection_data[ip][10] == True %}
            <table class="table table-bordered table-success client-table border border-2">
        {% else %}
            <table class="table table-bordered table-danger client-table border border-2">
        {% endif %}
            <tbody>
                <tr>
                    <th scope="row" class="center"><h5>{{ ip }}</h5></th>
                </tr>
            </tbody>
            </table>
    </div>

    <table class="table table-bordered client-table border border-2">
        <tbody>
            <tr>
              <th scope="row" class="center col-3">Состояние порта:</th>
              <td class="center"><a href="http://{{ client_connection_data[ip][1] }}">{{ client_connection_data[ip][0]}}{{ client_connection_data[ip][2]}}</a> ({{ client_connection_data[ip][5] }})</td>

              {% if client_connection_data[ip][6] == 'up' %}
                <td class="center">Port: <font color="green">{{ client_connection_data[ip][6].upper() }}</font></td>
              {% else %}
                <td class="center">Port: <font color="red">{{ client_connection_data[ip][6].upper() }}</font></td>
              {% endif %}

              {% if client_connection_data[ip][9] == '0' %}
                <td class="center">Ошибки: <font color="green">{{ client_connection_data[ip][9] }}</font></td>
              {% else %}
                <td class="center">Ошибки: <font color="red">{{ client_connection_data[ip][9] }}</font></td>
              {% endif %}

              <td class="center col-3"><button type="button" class="btn btn-danger">Дернуть порт</button></td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered client-table border border-2">
        <tbody>
            <tr>
              <th scope="row" class="center сol-3">MAC на порту:</th>
              <td class="center col-3">
                  Прописан:
                  {% for mac_on in client_connection_data[ip][7] %}
                    <br>
                    <font color="green">{{ mac_on }}</font>
                  {% endfor %}
              </td>
              <td class="center col-3">
                Приходит:
                  {% for mac_in in client_connection_data[ip][8] %}
                    <br>
                      {% if mac_in in client_connection_data[ip][7]%}
                        <font color="green">{{ mac_in }}</font>
                      {% else %}
                        <font color="red">{{ mac_in }}</font>
                      {% endif %}
                  {% endfor %}
              </td>
              <td class="center col-3"><button type="button" class="btn btn-warning">Прописать мак</button></td>
            </tr>
        </tbody>
    </table>
    <br>
{% endfor %}
<br>
<div class="row">
    <div class="accordion col-6" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Нотатки клиента
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
              {% for string in client_notes %}
                  {{ string }}
                  <br>
              {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="accordion col-6" id="accordionExample1">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne1">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
              Нотатки бизнес-центра
          </button>
        </h2>
        <div id="collapseOne1" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample1">
          <div class="accordion-body">
              {% for string in client_address_notes %}
                  {{ string }}
                  <br>
              {% endfor %}
          </div>
        </div>
      </div>
    </div>
</div>
<br>

{% endblock %}