{% extends 'search_base.html' %}

{% block title %}
NBI-Navigator
{% endblock %}

{% block body %}
<script>
    function search_spinner(client_name) {
        document.getElementById(client_name).classList.remove("d-none");
    }
</script>

<script>
    function show_spinner(spinner_id, btn_id) {
        document.getElementById(spinner_id).classList.remove('d-none');
        document.getElementById(btn_id).classList.add('disabled');
    }
</script>

<br>
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <h5>NBI-Navigator</h5>
      </ul>
    </header>
<br>
<form method="post">
  <div class="input-group mb-3">
    <input type="text" name="client" class="form-control" placeholder="Имя клиента" aria-label="Имя клиента" aria-describedby="button-addon2">
    <input type="submit" class="btn btn-outline-primary" value="Найти">
  </div>
<br>
  <div class="row">
    <div class="col-6">
        <div class="list-group">
          {% for client in clients %}
              <a href="/client/{{ client }}" class="list-group-item list-group-item-action list-group-item-light" onclick="search_spinner('{{ client }}')">{{ client.upper() }} <div class="spinner-grow text-secondary spinner-grow-sm d-none" role="status" id="{{ client }}"></div></a>
          {% endfor %}
        </div>
    </div>
    <div class="col-6">
      <div class="col-md-1 dropdown">
        <button class="btn btn-secondary dropdown-toggle b1" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Отключенные за неуплату
        </button>
        <ul class="dropdown-menu term_window" aria-labelledby="dropdownMenuButton1">
          {% for sus_client in suspended_clients %}
            <li>
             <div class="container">
              <div class="row justify-content-between">
                  <div class="col-10 align-self-start">
                      <a class="dropdown-item" href="/client/{{ sus_client }}">{{ sus_client.upper() }}</a>
                  </div>
                  <div class="col-2 align-self-end">
                      <a class="btn btn-success btn-sm" href="/client_turn_on/{{ sus_client }}" id="turn_on_btn{{ sus_client }}" onclick="show_spinner('client_turn_on_spinner{{ sus_client }}', 'turn_on_btn{{ sus_client }}')">Включить <div class="spinner-border text-secondary spinner-border-sm d-none" role="status" id="client_turn_on_spinner{{ sus_client }}"></div></a>
                  </div>
              </div>
             </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</form>
<br>


{% endblock%}

<!--<tr>-->
<!--   <td>-->
<!--     <a href="/client/{{ client }}">-->
<!--      {{ client.upper() }}-->
<!--     </a>-->
<!--   </td>-->
<!--</tr>-->