{% extends 'search_base.html' %}
@import "../node_modules/bootstrap/scss/bootstrap";

{% block title %}
NBI-Navigator
{% endblock %}

{% block body %}

{% if toast_alert != ' ' %}
    <div id="toastNotice" class="toast align-items-center text-white bg-success border-0" style="z-index: 11" role="alert" aria-live="assertive" aria-atomic="true" data-delay=3000>
      <div class="d-flex">
        <div class="toast-body">
          {{ toast_alert }}
        </div>
      </div>
    </div>
{% endif %}

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>

<script type="text/javascript">// <![CDATA[
        function loading(){
            $("#loading").show();
            $("#content").hide();
        }
// ]]>
</script>

<script>
  {
    var myAlert =document.getElementById('toastNotice');//select id of toast
      var bsAlert = new bootstrap.Toast(myAlert);//inizialize it
      bsAlert.show();//show it
  }
</script>

<script>
    function search_spinner(client_name) {
        document.getElementById(client_name).classList.remove("d-none");
    }
</script>

<script>
    function show_spinner(spinner_id, btn_id) {
        document.getElementById(spinner_id).classList.remove('d-none');
        document.getElementById(btn_id).classList.add('disabled');
    }
</script>

<br>
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <a class="btn btn-outline-secondary" href="/">NBI-Navigator</a>
      </ul>
    </header>
<br>
<div>
    <form method="post">
      <div class="input-group mb-3">
            <input type="text" name="client" class="form-control" placeholder="Введите Имя клиента или Ip адрес" aria-label="Имя клиента" aria-describedby="button-addon2">
            <input type="submit" class="btn btn-outline-primary" value="Найти">
      </div>
    </form>
</div>
<br>

<div class="row">
    <div class="col-6">
        <div class="list-group">
          {% for client in clients %}
            {% if client == 'Клиент не найден' %}
              <a class="list-group-item list-group-item-action list-group-item-light disabled">{{ client.upper() }}</a>
            {% else %}
              <a href="/client/{{ client }}" class="list-group-item list-group-item-action list-group-item-light" onclick="search_spinner('{{ client }}')">{{ client.upper() }}  <div class="spinner-grow text-secondary spinner-grow-sm d-none" role="status" id="{{ client }}"></div></a>
            {% endif %}
          {% endfor %}
        </div>
    </div>
    <div class="col-6">
      <div class="col-md-1 dropdown">
        <button class="btn btn-secondary dropdown-toggle b1" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Отключенные за неуплату
        </button>
        <ul class="dropdown-menu term_window" aria-labelledby="dropdownMenuButton1">
          {% for sus_client in suspended_clients %}
            <li>
             <div class="align-self-start">
              <div class="row justify-content-between">
                  <div class="col-9 align-self-start">
                      <a class="dropdown-item" href="/client/{{ sus_client }}">{{ sus_client.upper() }}</a>
                  </div>
                  <div class="col-3 align-self-end">
                    <form action="/" method="post">
                      <button type="submit" class="btn btn-success form-control btn-sm" name="client" onclick="search_spinner('{{ sus_client }}')" value="==={{ sus_client }}">Включить<div class="spinner-border text-secondary spinner-border-sm d-none" role="status" id="{{ sus_client }}"></div></button>
                    </form>
                  </div>
              </div>
             </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
</div>
<br>
{% endblock %}